table {
  border-collapse:collapse;
  table-layout: fixed;
  border:0;
  cellspacing: 0;
  border-spacing: 0;
}


div[dir=auto]{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
